__debug_bin
_artifacts
!config/crd/bases/.gitkeep
!vendor/**/zz_generated.*
.DS_Store
.idea
.idea/
.tiltbuild/
.vscode
.vscode/
*.dll
*.dylib
*.exe
*.exe~
*.gen.go
*.out
*.so
*.swo
*.swp
*.test
*~
bin/
config/crd/bases/*
config/default/manager_image_patch.yaml-e
config/default/manager_pull_policy.yaml-e
config/webhook/manifests.yaml
cover.out
coverage.txt
dist
dist/
kubebuilder
kubeconfig
out/
testbin/
tilt-settings.yaml
tmp/
linux/arm64/
test-resources.yaml
test-*.yaml
test-*.go
test-connection.go
test-unifi-setup.yaml
test-unifi-connection.go