apiVersion: apps/v1
kind: Deployment
metadata:
  name: unifi-ipam-controller-manager
  namespace: ipam-system
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: cluster-api-ipam-provider-unifi
    app.kubernetes.io/component: ipam-controller
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: controller-manager
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - command:
            - /manager
          args:
            - --leader-elect
            - --metrics-bind-address=:8080
            - --health-probe-bind-address=:8081
          image: ghcr.io/ubiquiti-community/cluster-api-ipam-provider-unifi:latest
          name: manager
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            limits:
              cpu: 500m
              memory: 128Mi
            requests:
              cpu: 10m
              memory: 64Mi
      serviceAccountName: unifi-ipam-controller-manager
      terminationGracePeriodSeconds: 10
